form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 500px;
}

input {
  border: 1px solid #605dc8;
  padding: 10px;
  border-radius: 8px;
}

button[type='submit'] {
  padding: 10px;
  border: 1px solid #605dc8;
  background: #605dc8;
  color: white;
  border-radius: 8px;
}

button[type='submit']:disabled {
  opacity: 0.5; /* to show dull */
  cursor: not-allowed;
}

.error {
  margin: 0;
  color: red;
}
